.titulo-projetos{
    text-align: center;
    padding: 8px;
}

.texto-projetos{
    display: flex;
    margin: auto;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 8px;
    width: 70%;
}



#titulo-projetos-react{
    margin-bottom: 20px;
    margin-left: 10px;
}

.projetos-react img{
    width: 250px;
}

.projetos-react h3{
    margin-bottom: 5px;
}

.imagens-projetos{
    display: flex;
    justify-content: space-between;
}

.imgProjetos img{
    width: 190px;
}


.imgProjetos{
    border: solid 2px #092e6d;
    border-radius: 10px;
    padding: 10px;
    transition: ease-in 0.2s;
}

.imgProjetos svg{
    position: relative;
    top: .24em;
}

.imgProjetos a{
    color: #114bad;
}

.imgProjetos p:hover{
    transform: scale(1.05);
    color: #1f71ff;
}

.imgProjetos p{
    font-weight: 400;
    transition: ease-in 0.2s;
}

.imgProjetos:hover{
    transform: scale(1.1);
}

.imgProjetos:first-child{
    margin-left: 20px;
}

.imgProjetos:last-child{
    margin-right: 20px;
}
