.textos-projetos-i p{
    margin: 15px;
    text-indent: 2em;
    
}

.cont-jgVelha{
    
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: center;
}

.cont-jgVelha img{
    margin-top: 20px;
    margin-bottom: 20px;
}

.cont-jgVelha h2{
    margin-bottom: 20px;
}
.cont-jgVelha p{
    line-height: 1.8em;
    
}