@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');


.sobre-mim-cabeca h1{
    font-family: 'Cardo', serif;
    font-size: 3.5em;
}

.sobre-mim-cabeca{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.sobre-mim-cabeca p{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 6px;
}

.sobre-mim-cabeca a{
    margin-bottom: 6px;
    text-decoration: none;
    color: #0B3C8F;
    transition: all 0.1s;
}


.sobre-mim-cabeca a:hover{
    font-weight: bold;
    transform: scale(1.1);
}

.sobre-mim-cabeca hr{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.sobre-mim-corpo{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 40px;
    margin-right: 40px;
    
}

.sobre-mim-corpo ul{
    list-style-type: disc;
    margin-bottom: 20px;
}

.sobre-mim-esquerda{
    width: 50%;
}

.sobre-mim-corpo li{
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: 500;
}

.sobre-title{
    font-weight: 500;
    margin-bottom: 6px;
}

.sobre-mim-esquerda img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
}


.sobre-mim-direita{
    width: 40%;
}

.sobre-mim-corpo h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.sobre-desc{
    font-weight: 300;
    
}