.conteiner-Saved{
    display: flex;
    
    align-items: center;
    
    flex-direction: column;

    margin-top: 10px;
}

#lista-Saved{
    
    color: white;
    background-color: #125CDB;
    width: 440px;
    margin-left: 30px;
    padding: 20px;
    border-radius: 5px;
}

#item-lista-Saved{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border: solid 2px white;
    padding: 5px;
    border-radius: 5px;
}

#botao-excluir-Psssaved{
    font-size: 0.9em;
    width: 120px;
    border-radius: 5px;
    background-color: white;
    color: #125CDB;
    border: none;
    font-weight:bolder;
    cursor: pointer;
    margin-left: 5px;
}

#botao-excluir-Psssaved:hover{
    background-color: rgb(204, 204, 204);
}

@media screen and (max-width: 560px){
    #lista-Saved{
        max-width: 96%;
        margin-left: 0;
    }
    #botao-excluir-Psssaved{
        width: 110px;
        font-size: 1.1em;
        padding: 4px;
    }
    .conteiner-Saved span{
        font-size: 1.3em;
    }

    .conteiner-Saved a{
        width: 90%;
    }
}