#input{
   
    font-size: 2em;
    border-radius: 10px;
    width: 300px;
}

.botoes button{
    margin: 6px;
    font-size: 3em;
    width: 90px;
    border-radius: 10px;
    color: white;
    background-color: #0B3C8F;
    border: none;
}



.botoes{
    text-align: center;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cancel{
    margin-right: 200px;
}

.projetos{
    margin: 8px;
    width: 70%;
    margin: auto;
    border: solid 2px #06214F;
    border-radius: 10px;
}


.sobre-projetos{
    margin: 10px;
    font-size: 1.1em;
}

.sobre-projetos h2:first-child{
    margin-top: 60px;
    margin-bottom: 18px;
}

.sobre-projetos h2:last-child{
    margin-top: 29px;
}

.sobre-projetos p{
    margin-bottom: 6px;
}



.sobre-projetos span{
    font-weight: 300;
    font-size: 0.9em;
}

@media screen and (max-width: 560px){
    .botoes button{
        width: 80px;
    }

    .projetos{
        width: 95%;
    }

    #input{
        width: 274px;
    }

    .sobre-projetos{
        font-size: 1.6em;
        text-align: center;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 560px){
    .botoes button{
        width: 70px;
    }

    .projetos{
        width: 95%;
    }

    #input{
        width: 250px;
    }

    .sobre-projetos{
        font-size: 1.6em;
        text-align: center;
        padding-bottom: 100px;
    }
}